# ignora tudo por padrao

*

# Lista branca

!.gitignore
!.Xresources
!.vim
!.emacs.d
!.config/openbox
!.bashrc
!.bash_aliases
!.bash_profile
!.asoundrc
!.tmux.conf
!.Xdefaults
!.config
!.gitconfig
!.profile