# ignora tudo por padrao

*

# Lista branca

!.gitignore
!.Xresources
!.vim
!.emacs.d
!.bashrc
!.aliases
!.bash/
!.bash/*
!.bash_profile
!.asoundrc
!.tmux.conf
!.tmux.remote.conf
!.Xdefaults
!.config
!.gitconfig
!.profile
!.zsh/
!.zsh/*
!.zshrc
!.zprofile
!.zshenv
!.zlogin