.secrets
**/weechat/sec.conf

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# KDE stuff
roles/desktop/files/.config/KDE/
roles/desktop/files/.config/dconf/
roles/desktop/files/.config/gtk-3.0/
roles/desktop/files/.config/gtk-4.0/
roles/desktop/files/.config/katemetainfos
roles/desktop/files/.config/kde.org/
roles/desktop/files/.config/kdeconnect/
roles/desktop/files/.config/kdedefaults/
roles/desktop/files/.config/khtml/
roles/desktop/files/.config/pulse/
roles/desktop/files/.config/session/
roles/desktop/files/.config/xsettingsd/
roles/system/tasks/.fedora.yml.kate-swp
roles/desktop/files/.config/Code/
roles/desktop/files/.config/google-chrome/
roles/desktop/files/.config/libaccounts-glib/
roles/desktop/files/.config/kwalletrc
roles/desktop/files/.config/PlasmaDiscoverUpdates
roles/desktop/files/.config/xdg-desktop-portal-kderc
roles/desktop/files/.config/ksmserverrc
roles/desktop/files/.config/kactivitymanagerd-statsrc
roles/desktop/files/.config/kded5rc
roles/desktop/files/.config/kate/
roles/desktop/files/.config/akonadi/