#!/bin/bash

for al in $(git config --get-regexp '^alias.' | cut -d' ' -f1 | cut -d'.' -f2); do
    alias g$al="git $al"
done

alias egrep='grep -E'
alias ls='ls --color=auto'
alias dkr='sudo docker'

# terraform aliases
alias tf='terraform'
alias tfi='tf init'
alias tfp='tf plan'
alias tfa='tf apply'
alias tfw='tf workspace'
alias tff='tf fmt'

alias exit='[[ -z $TMUX ]] && builtin exit || tmux detach'
alias tmx='eval $( tmux list-sessions && tmux a -t main || tmux new -s main)'

alias ssh='TERM=xterm-256color ssh'

alias gconfig='gcloud config'
alias gauth='gcloud auth'

alias gprofile='gconfig configurations'
alias glogin='gauth login'
alias gapplogin='gauth application-default login'
