# Personal
[includeIf "gitdir:~/dev/src/github.com/giulianisanches/"]
  path = "~/dev/.gitconfig-giuliani-github"
[includeIf "gitdir:~/dev/src/github.com/giulianisanches/"]
  path = "~/dev/.gitconfig-giuliani-gitlab"
[includeIf "gitdir:~/dev/src/dev.azure.com/giulianisanches/"]
  path = "~/dev/.gitconfig-giuliani-azuredevops"
  
[alias]
    # one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    a = add
    ap = add -p
    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    m = commit --amend --verbose

    ps = push
    pl = pull
    f  = fetch
    fp = fetch --prune
    
    d = diff
    ds = diff --stat
    dc = diff --cached

    s = status -s
    co = checkout
    cob = checkout -b
    # list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs | sed -E -e 's-refs/(heads|remotes|tags)/--'"

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"